body {
    padding-top: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf1d7;

}

#selectionDiv {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 10px;
    padding: 10px;
}

.btn {
    width: 150px;
    height: 180px;
    background-color: darkgray;
    padding: 0;
    border-radius: 10px;
    border: 0;

}

img {
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
    opacity: 0.8;
}

#scoreBar {
    display:flex;
    justify-content: space-around;
    margin: 20px;
}

.scoreDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

div {
    padding: 5px;
}

h2 {
    font-size: 30px;
    font-weight: 900;
    color: #010f05
}

.score {
    font-size: 40px;
    margin: 0px 10px;
    font-weight: 900;
}

#result {
    font-size: 30px;
    font-weight: 700;
    margin: 10px;
}

#resetBtn {
    font-size: large;
    font-weight: 600;

}

img:hover {
    box-shadow: 0px 0px 25px black;
}

img:active {
    box-shadow: 0px 0px 50px #2b030e;
    transition: box-shadow 0.05s linear;
}